.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 9%;
        width: 200px;
        padding: 10px;
    }

    .loginbutton {
        padding: 10px 50px 10px 50px;
    }
}